:root {
    --main-bg-color: #d97645;
    --animation-time: 0.5s;
}

svg {
    height: 0;
    position: absolute;
    width: 0;
}

body {
    font-family: "Vazirmatn", sans-serif;
}

ol {
    list-style-type: persian;
    padding-right: 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
}

#overlay.hidden {
    display: none;
}

.modal-header .btn-close {
    padding:calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin:calc(-.5 * var(--bs-modal-header-padding-y)) auto calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x));
}

.divider {
    height: 80px;
    background-image: url("/translation-calculator-miniapp/assets/dots.png");
    background-position: center;
    background-repeat: repeat-y;
}

.card-box {
    min-height: var(--tg-viewport-stable-height);
    overflow-y: auto;
    text-align: center;
    padding: 5px;
}

.card-item {
    border: 5px solid var(--main-bg-color);
    /* #cab8b0 */
    height: 100%;
    border-radius: 5px;
    display: none;
}

.card-item.card-visible {
    display: flex;
    flex-direction: column;
}

.card-item > div {
    padding: 10px 5px;
}

.header-subtitle {
    font-size: 1.2em;
    margin-top: -10px;
    color: var(--main-bg-color);
}

.card-header {
    text-align: center;
}

.header-title {
    color: var(--main-bg-color);
    font-weight: bold;
    border-bottom: 2px solid var(--main-bg-color);
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.help-icon {
    font-size: 0.7em;
    background: var(--main-bg-color);
    color: white;
    display: inline-block;
    width: 19px;
    font-weight: bold;
    border-radius: 19px;
    line-height: 17px;
    padding-top: 1px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.card-content {
    overflow-y: auto;
}

.card-footer div {
    padding: 6px 0;
    border-bottom: 2px solid #eee;
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
}

.card-footer div:last-child {
    border-bottom: none;
}

.help-box {
    z-index: 3;
    background: white;
    border: 3px solid var(--main-bg-color);
    padding: 0 !important;
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    max-width: 960px;
    margin: 0 auto;
}

.help-content {
    overflow-y: auto;
    line-height: 1.8em;
    padding: 10px;
    text-align: right;
}

#rtc-rate-calculate-form {
    margin-top: 100px;
}

#rtc-rate-calculate-form input,
#rtc-rate-calculate-form select {
    margin-bottom: 20px;
}

.action-box {
    width: 100%;
    vertical-align: middle;
}

.action-btn {
    width: 100%;
    max-width: 225px;
    margin: 10px auto;
    text-align: center;
    color: white;
    line-height: 2.4em;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--main-bg-color);
}

#card-intro .action-btn {
    -webkit-clip-path: url(#action-button-clip-path);
    clip-path: url(#action-button-clip-path);
    border-radius: 0;
}

.action-btn.choice-text {
    background: #4285f4;
}

.action-btn.choice-interpret {
    background: #ea4335;
}

.action-btn.choice-media {
    background: #fbbc05;
}

.action-btn.choice-apps {
    background: #34a853;
}

#card-text .action-box {
    margin-top: 30px;
}

#card-text .action-btn {
    margin-top: 20px;
}

.action-btn.choice-cancel {
    background: gray;
}

/* //////////////////// */

.field-group {
    display: flex;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 20px;
}

.field-group:has(.select-items.open) {
    position: relative;
    z-index: 3;
}

.field-group .field-label {
    min-width: 102px;
    padding: 8px 9px 8px 5px;
    border-radius: 0 20px 20px 0;
    background-color: var(--main-bg-color);
    color: white;
}

.field-group .field-label:has(+ .select-items.open) {
    border-radius: 0 20px 0 0;
}

.field-group input {
    flex: 1 1 auto;
    min-width: 100px;
    position: relative;
    border: 3px solid var(--main-bg-color);
    background-color: white;
    padding: 5px 6px;
    outline: none;
}

.field-suffix {
    padding: 8px 10px 8px 15px;
    border-radius: 20px 0 0 20px;
    background-color: var(--main-bg-color);
    color: white;
}

.field-label, .field-suffix {
    white-space: nowrap;
}

.select-items {
    flex: 1 1 auto;
    position: relative;
    border-radius: 20px 0 0 20px;
}

.select-items.open {
    border-radius: 20px 0 0 0;
}

.select-items::after {
    content: "▼";
    text-align: left;
    float: left;
    padding: 10px 10px 0px;
    display: block;
    color: var(--main-bg-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
}

.select-items.open::after {
    border-radius: 20px 0 0 0;
    content: "▲";
}

.select-items.disabled {
    color: #525961;
}

.select-items.disabled::after {
    display: none;
}

.select-items.open .selected-item {
    border-radius: 20px 0 0 0;
}

.select-items .select-item-list {
    display: none;
    position: absolute;
    border: 3px solid var(--main-bg-color);
    border-top: none;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: white;
    max-height: 185px;
    overflow-y: auto;
}

.select-items.open {
    position: static;
}

.select-items.open .select-item-list {
    display: block;
    position: absolute;
    right: 0;
}

.select-item-list .select-item:nth-child(odd) {
    background: #fff5f0;
    /* #eee */
}

.select-item {
    padding: 5px 6px;
    text-align: right;
}

.selected-item {
    border: 3px solid var(--main-bg-color);
    border-radius: 20px 0 0 20px;
    background-color: white;
    text-align: right;
    padding: 5px 6px 5px 24px;
    text-wrap-mode: nowrap;
}

.selected-item.lang-pair {
    text-wrap-mode: wrap;
}

.selected-item.item-none {
    color: gray;
}

.selected-item.error {
    border-color: red;
}

/***********************/

.lang-pair {
    display: flex;
    align-items: center;
}

.select-item-list .source-lang,
.select-item-list .target-lang {
    flex: 1 1 230px;
}

.source-lang {
    text-align: right;
    padding-left: 5px;
}

.select-item-list .source-lang {
    padding-left: 10px;
    text-align: left;
}

.target-lang {
    padding-right: 5px;
}

.lang-pair .pair-arrow {
    color: transparent;
    background-image: url('assets/left-arrow.png');
    width: 14px;
}

#card-result .lang-pair {
    justify-content: center;
}

.card-footer a {
    text-decoration: none;
}

.dialog-header {
    background: var(--main-bg-color);
    color: white;
    padding: 5px;
    text-align: center;
}

.help-dialog {
    padding: 0;
    border-radius: 10px;
    height: var(--tg-viewport-stable-height);
    border: none;
}

.help-dialog > form {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 3px solid var(--main-bg-color);
}

.dialog-header .dialog-close {
    float: left;
    border: 1px solid white;
    border-radius: 21px;
    line-height: 17px;
    width: 21px;
    height: 21px;
    padding-top: 2px;
    cursor: pointer;
}

.dialog-footer {
    border-top: 1px solid #eee;
    position: sticky;
    bottom: 0;
    background: white;
    padding: 1px;
}
  
.dialog-footer .action-btn{
    font-size: 0.85em;
    margin: 8px auto;
    line-height: 2.1em;
    max-width: 180px;
}

/*////////////////// */

#card-result .fields {
    display: flex;
    flex-wrap: wrap;
}

#card-result .field {
    flex: 1 0 calc(50% - 8px);
    margin: 8px 4px 4px;
    border: 3px solid var(--main-bg-color);
    border-radius: 10px;
}

#card-result .field-label {
    font-size: 0.85em;
    padding: 0 6px 3px;
    background-color: var(--main-bg-color);
    color: white;
}

#card-result .field > span {
    padding: 5px;
    float: right;
    text-align: center;
    width: 100%;
    white-space: preserve-breaks nowrap;
}

#card-result .field.lang-field > span {
    white-space: normal;
    text-align: right;
}

@media (min-width: 372px) and (max-width: 767px) {
    #card-result .field:has(.lang-pair) {
        flex: 1 0 300px;
    }
}

@media (min-width: 992px) {
    #card-result .field {
        flex: 1 0 calc(33% - 12px);
    }
}


#card-result .selections-box,
#card-result .results-box {
    border-top: 3px solid var(--main-bg-color);
    border-radius: 10px;
}


#card-result .selections-box {
    margin-top: 12px;
}

#card-result .results-box {
    margin-top: 42px;
}

#card-result .description {
    margin-top: -12px;
    margin-bottom: 2px;
}

#card-result .description .inner {
    background: var(--main-bg-color);
    color: white;
    padding: 3px 10px;
    border-radius: 24px;
}

/*

border-style: outset;
border-color: #ffd0b9;
background: #fff6f1;

**/