:root {
    --main-bg-color: #d97645;
    --animation-time: 0.5s;
}

body {
    font-family: "Vazirmatn", sans-serif;
}

ol {
    list-style-type: persian;
    padding-right: 30px;
}

.modal-header .btn-close {
    padding:calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5);
    margin:calc(-.5 * var(--bs-modal-header-padding-y)) auto calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x));
}

.divider {
    height: 80px;
    background-image: url("/translation-calculator-miniapp/assets/dots.png");
    background-position: center;
    background-repeat: repeat-y;
}

.card-box {
    height: var(--tg-viewport-stable-height);
    overflow-y: auto;
    text-align: center;
    padding: 5px;
}

.card-item {
    border: 5px solid var(--main-bg-color);
    /* #cab8b0 */
    height: 100%;
    border-radius: 5px;
    display: none;
}

.card-item.card-visible {
    display: flex;
    flex-direction: column;
}

.card-item > div {
    padding: 10px 5px;
}

.header-subtitle {
    font-size: 1.2em;
    margin-top: -10px;
    color: var(--main-bg-color);
}

.card-header {
    text-align: center;
}

.header-title {
    color: var(--main-bg-color);
    font-weight: bold;
    border-bottom: 2px solid var(--main-bg-color);
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.help-icon {
    font-size: 0.7em;
    background: var(--main-bg-color);
    color: white;
    display: inline-block;
    width: 19px;
    font-weight: bold;
    border-radius: 19px;
    line-height: 17px;
    padding-top: 1px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.card-content {
    overflow-y: auto;
}

.card-footer div {
    padding: 6px 0;
    border-bottom: 2px solid #eee;
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
}

.card-footer div:last-child {
    border-bottom: none;
}

.help-box {
    z-index: 3;
    background: white;
    border: 3px solid var(--main-bg-color);
    padding: 0 !important;
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    max-width: 960px;
    margin: 0 auto;
}

.help-content {
    overflow-y: auto;
    line-height: 1.8em;
    padding: 10px;
    text-align: right;
}

#rtc-rate-calculate-form {
    margin-top: 100px;
}

#rtc-rate-calculate-form input,
#rtc-rate-calculate-form select {
    margin-bottom: 20px;
}

.action-box {
    width: 100%;
    vertical-align: middle;
}

.action-btn {
    width: 100%;
    max-width: 225px;
    margin: 10px auto;
    text-align: center;
    color: white;
    line-height: 2.4em;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--main-bg-color);
}

#card-intro .action-btn {
    -webkit-clip-path: url(#action-button-clip-path);
    clip-path: url(#action-button-clip-path);
    border-radius: 0;
}

.action-btn.choice-text {
    background: #4285f4;
}

.action-btn.choice-interpret {
    background: #ea4335;
}

.action-btn.choice-media {
    background: #fbbc05;
}

.action-btn.choice-apps {
    background: #34a853;
}

#card-text .action-box {
    margin-top: 30px;
}

#card-text .action-btn {
    margin-top: 20px;
}

.action-btn.choice-cancel {
    background: gray;
}

/* //////////////////// */

.field-group {
    display: flex;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 20px;
}

.field-group:has(.select-items.open) {
    position: relative;
    z-index: 3;
}

.field-label {
    padding: 6px 10px;
    border-radius: 0 20px 20px 0;
    background-color: var(--main-bg-color);
    color: white;
}

.select-items {
    flex: 1 1 auto;
    position: relative;
    border-radius: 20px 0 0 20px;
}

.field-suffix {
    padding: 9px 10px 3px 15px;
    border-radius: 20px 0 0 20px;
    background-color: var(--main-bg-color);
    color: white;
}

.field-label, .field-suffix {
    white-space: nowrap;
}

.select-items.open {
    border-radius: 20px 0 0 0;
}

.select-items::after {
    content: "▼";
    text-align: left;
    float: left;
    padding: 10px 10px 0px;
    display: block;
    color: var(--main-bg-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
}

.select-items.open::after {
    border-radius: 20px 0 0 0;
    content: "▲";
}

.field-group input {
    flex: 1 1 auto;
    min-width: 100px;
    position: relative;
    border: 3px solid var(--main-bg-color);
    background-color: white;
    padding: 5px 10px;
    outline: none;
}

.selected-item {
    border: 3px solid var(--main-bg-color);
    border-radius: 20px 0 0 20px;
    background-color: white;
    text-align: right;
}

.select-items.open .selected-item {
    border-radius: 20px 0 0 0;
}

.select-items .select-item-list {
    display: none;
    position: absolute;
    border: 3px solid var(--main-bg-color);
    border-top: none;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: white;
    overflow: hidden;
}

.select-items.open {
    position: static;
}

.select-items.open .select-item-list {
    display: block;
    position: absolute;
    right: 0;
}

.select-item-list .select-item:nth-child(odd) {
    background: #fff5f0;
    /* #eee */
}

.field-label:has(+ .select-items.open) {
    border-radius: 0 20px 0 0;
}

.select-item,
.selected-item {
    padding: 5px 10px;
    text-align: right;
}

.selected-item.item-none {
    color: gray;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
}

#overlay.hidden {
    display: none;
}

/***********************/

.lang-select .select-item {
    display: flex;
    align-items: center;
}

.select-item-list .source-lang,
.select-item-list .target-lang {
    flex: 1 1 0;
}

.source-lang {
    padding-left: 10px;
    text-align: left;
}

.selected-item .source-lang {
    text-align: right;
}

.target-lang {
    padding-right: 10px;
}

.lang-select .pair-arrow {
    color: transparent;
    background-image: url('assets/left-arrow.png');
    width: 14px;
}

/**************************/

.card-footer a {
    text-decoration: none;
}

/*****************************/

dialog:open {
    opacity: 1;
    transform: translate(0,0);
}

dialog {
    opacity: 0;
    transform: translate(0, -25%);
    transition:
        opacity var(--animation-time) ease-out,
        transform var(--animation-time) ease-out,
        overlay var(--animation-time) ease-out allow-discrete,
        display var(--animation-time) ease-out allow-discrete;
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
      as the specificity is the same */
@starting-style {
    dialog:open {
        opacity: 0;
        transform: translate(0, -25%);
    }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition:
        display var(--animation-time) allow-discrete,
        overlay var(--animation-time) allow-discrete,
        background-color var(--animation-time);
}

dialog:open::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */

@starting-style {
    dialog:open::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

.dialog-header {
    background: var(--main-bg-color);
    color: white;
    padding: 5px;
    text-align: center;
}

.help-dialog {
    padding: 0;
    border-radius: 10px;
    height: var(--tg-viewport-stable-height);
    border: none;
}

.help-dialog > form {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 3px solid var(--main-bg-color);
}

.dialog-header .dialog-close {
    float: left;
    border: 1px solid white;
    border-radius: 21px;
    line-height: 17px;
    width: 21px;
    height: 21px;
    padding-top: 2px;
    cursor: pointer;
}

.dialog-footer {
    border-top: 1px solid #eee;
    position: sticky;
    bottom: 0;
    background: white;
    padding: 1px;
}
  
.dialog-footer .action-btn{
    font-size: 0.85em;
    margin: 8px auto;
    line-height: 2.1em;
    max-width: 180px;
}
  
